@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
      
    background-image: url(../image/4523.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Wallpoet', cursive;
}
    

.container {

    width: 400px ;
    height: 600px;
    margin: 60px auto;
    border-radius: 8px;
    padding: 40px 50px;
    box-shadow:#000000 0px 64px 256px;
    background-image: url(../image/3.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.container form {
    display: flex;
    flex-direction: column;
}


.container form label {

    margin-bottom: 10px;
    color: rgb(253, 248, 255);
    font-family: 'Wallpoet', cursive;
    font-size: 15px;
}

.container form input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    border-radius: 50px;
    font-family: 'Wallpoet', cursive;
}

.container form button {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border: 0;
    background-color: rgb(82, 5, 84);
    border-radius: 100px;
    margin-bottom: 20px;
    font-family: 'Wallpoet', cursive;
}


.container form button:hover {
    width: 100%;
    height: auto;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    border: 0;
    background-color: #c441e1;
    border-radius: 100px;
    margin-bottom: 20px;
    font-family: 'Wallpoet', cursive;
}


h3{

    font-size: 30px;
    margin-bottom: 20px;
    font-family:fantasy;
    color: rgb(237, 237, 237);
    text-align: center;
    font-family: 'Wallpoet', cursive;
    
}


.container form .message  {
    text-decoration: none;
    color: rgb(47, 189, 214);
    font-size: 15px;
    font-weight: bold;
}

.container form .message:hover {
    text-decoration: none;
    color: #e3c3e6;
    font-size: 15px;
    font-weight: bold;
}




