<!DOCTYPE html>
 <html lang ="en">
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" href="../static/css/style.css">
        <title> Login </title>


    </head>
     <body>
        <div class="container">
            <form method="post">
                {% csrf_token %}
                <label for="username">Username</label>
                <input type="text" placeholder="Username" name="username">
                <label for="password">Password</label>
                <input type="password"  placeholder="Password" name="pass">
                <button  type="submit" >Login</button>            
                <p class="message">not registered? <a href="/register/">Create an account</a></p>
            </form>
        </div>

     </body>
 </html>